form {
    background-color: #f4f4f4;
    width: 320px;
    padding: 20px;
    border: 1px solid #e0e0e0;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

input[type="radio"] {
    display: inline;
    margin: 5px;
}